header{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    height: 70px;
    align-items: center;
}


.logo{
    display: flex;
    overflow-wrap: break-word;;
    color: white;
    align-items: center
}


.logo img{
    height: 50px;
}

.mouse {display: flex;

}